html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 50px;
  font-size: 1.5em;
  text-align: center;
}

.display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: .5em;
  border-radius: 10%;
}

.container-character-image {
  background-color: #000000;
  padding: 0.5em;
  height: 20em;
  width: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 20%;
  overflow: hidden;
}

.container-character-image img {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: block;
  border-radius: 20%;
}

.character-name {
  padding: 0.5em 0 0.8em 0;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.character-description {
  background-color: purple;
  margin-bottom: .5em;
  overflow-y: scroll;
  text-align: center;
  height: 5em;
  width: 20em;
}